params {
    shortread = true
    input = null
    outdir = null

    ref_genome = "/orfeo/scratch/area/lvaleriani/ref/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna"
    ref_fai = "/orfeo/scratch/area/lvaleriani/ref/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.fai"
    
    // optional: local paths to pre-downloaded reference resources.
    // if left as null, nf-locate will download them automatically.
    vcf = null
    map = null
    bcf = null

    // restrict to a subset of chromosomes (e.g. for testing); null = all autosomes 1..22
    test_chromosomes = null

    model_name = "r941_prom_sup_g5014"
    platform = "ont_r9_guppy"

    trace_report_suffix = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

    publish_dir_mode = "copy"
}

includeConfig 'config/base.config'
includeConfig 'config/index.config'
includeConfig 'config/phasing.config'
includeConfig 'config/variant_calling.config'
includeConfig 'config/split_align.config'
includeConfig 'config/methylation.config'
includeConfig 'config/download_references.config'


plugins {
  id 'nf-schema@2.0.0'
}


profiles {
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
}

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt" 
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html" 
}
