params {
  workDir = "/orfeo/LTS/LADE/LT_storage/lvaleriani/LR_Pipeline_DNA/"
  ref_genome = "/orfeo/LTS/CDSLab/LT_storage/ref_genomes/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta"
  samples = "$baseDir/LR_Pipeline_DNA/input.csv"
  publish_dir = "$baseDir/results"
  
}

