process {
    cpus   = { 1      * task.attempt }
    memory = { 6.GB   * task.attempt }
    time   = { 2.h    * task.attempt }
    
    maxErrors     = '-1'

    withLabel:process_single {
        cpus   = { 1                   }
        memory = { 10.GB * task.attempt }
        time   = { 1.h  * task.attempt }
    }
    withLabel:process_low {
        cpus   = { 4     * task.attempt }
        memory = { 20.GB * task.attempt }
        time   = { 1.h   * task.attempt }
    }
    withLabel:process_medium {
        cpus   = { 8     * task.attempt }
        memory = { 30.GB * task.attempt }
        time   = { 2.h   * task.attempt }
    }
    withLabel:process_high_long {
        cpus   = { 12     * task.attempt }
        memory = { 80.GB * task.attempt }
        time   = { 48.h * task.attempt }
    }

    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }

    withLabel:error_retry {
        errorStrategy = { task.exitStatus in ((130..145) + 104 + 1) ? 'retry' : 'ignore' }
        maxRetries    = 3
    }
}
