process {
    withName: 'DOWNLOAD_DBSNP' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/references/vcf/" },
                pattern: "*{vcf.gz,tbi}"
            ]
        ]
    }

    withName: 'SPLIT_DBSNP_BY_CHR' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/references/vcf/" },
                pattern: "*.vcf.gz"
            ]
        ]
    }

    withName: 'DOWNLOAD_MAP' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/references/map/" },
                pattern: "*.gz"
            ]
        ]
    }

    withName: 'DOWNLOAD_1000G' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/references/bcf/" },
                pattern: "*{vcf.gz,csi}"
            ]
        ]
    }
}
