process {
    withName: 'BCFTOOLS_INDEX_1' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/longphase/${meta.sampleID}/" },
                pattern: "*{csi,tbi}"
            ]
        ]
    }

    withName: 'BCFTOOLS_INDEX_2' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/haplotagphase/${meta.sampleID}/" },
                pattern: "*{csi,tbi}"
            ]
        ]
    }

    withName: 'BCFTOOLS_BGZIP' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/modkit/${meta.sampleID}/" },
                pattern: "*{csi,tbi,gz}"
            ]
        ]
    }

    withName: 'SAMTOOLS_INDEX' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/haplotag/${meta.sampleID}/${meta.type}/" },
                pattern: "*{bam,bai}"
            ]
        ]
    }
}
