process {
    withName: 'PREPARE_TABLE_VCF' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/locate/${meta.sampleID}/tables/" },
                pattern: "*.csv"
            ]
        ]
    }

    withName: 'PREPARE_TABLE_METHYLATION' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/locate/${meta.sampleID}/tables/" },
                pattern: "*.csv"
            ]
        ]
    }

    withName: 'SEGMENTATION' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/locate/${meta.sampleID}/segmentation/" },
                pattern: "*.csv"
            ]
        ]
    }

    withName: 'CN_INFERENCE' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/locate/${meta.sampleID}/cn/" },
                pattern: "*.csv"
            ]
        ]
    }

    withName: 'METHYLATION_INFERENCE' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/locate/${meta.sampleID}/methylation/" },
                pattern: "*.csv"
            ]
        ]
    }

    withName: 'ASM' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/locate/${meta.sampleID}/methylation/" },
                pattern: "*.csv"
            ]
        ]
    }
}
