process {
    withName: 'MODKIT' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/modkit/${meta.sampleID}/" },
                pattern: "*{bed,log}"
            ]
        ]
    }

    withName: 'HAPLOTAG_BAM' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/haplotag/${meta.sampleID}/${meta.type}/" },
                pattern: "*{bam,bai}"
            ]
        ]
    }
    
    withName: 'HAPLOTAGPHASE' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/haplotagphase/${meta.sampleID}/" },
                pattern: "*{vcf,gz}"
            ]
        ]
    }

    withName: 'SPLIT_HAPLOTYPE' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/haplotag_split/${meta.sampleID}/${meta.type}/" },
                pattern: "*{bam}"
            ]
        ]
    }

    withName: 'DMR' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/dmr/${meta.sampleID}/${meta.type}/" },
                pattern: "*{log,dmr,segment}"
            ]
        ]
    }
}
