process {
    withName: 'MODKIT' {
        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'ignore' }
    
        cpus= 12
        memory='30 GB'
        time='4h'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/methylation_calling/modkit/${meta.sampleID}/" },
                pattern: "*{bed, log}"
            ]
        ]
    }

    withName: 'BCFTOOLS_BGZIP' {
        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'ignore' }
    
        cpus= 4
        memory='30GB'
        time='4h'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/methylation_calling/modkit/${meta.sampleID}/" },
                pattern: "*{gz, tbi}"
            ]
        ]
    }

    withName: 'GET_POSITIONS' {
        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'ignore' }
        memory='20 GB'
        time='2h'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/methylation_calling/get_positions/${meta.sampleID}/" },
                pattern: "*{_position}"
            ]
        ]
    }
    
    withName: 'READ_BED' {
        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'ignore' }
        memory='16 GB'
        time='1h'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/methylation_calling/read_bed/${meta.sampleID}/" },
                pattern: "*{RDS}"
            ]
        ]
    }

    withName: 'METH_PILEUP' {
        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'ignore' }
        memory='50 GB'
        cpus=6
        time='4h'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/methylation_calling/pileup_methylation/${meta.sampleID}/${meta.type}/" },
                pattern: "*{vcf}"
            ]
        ]
    }

    withName: 'COMBINE' {
        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'ignore' }
        memory='30 GB'
        time='2h'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/methylation_calling/combine/${meta.sampleID}/" },
                pattern: "*{RDS}"
            ]
        ]
    }


}
