process {
    withName: 'MODKIT' {
        errorStrategy = 'retry'    
        cpus= 12
        memory='30 GB'
        time='4h'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/modkit/${meta.sampleID}/" },
                pattern: "*{bed, log}"
            ]
        ]
    }

    withName: 'BCFTOOLS_BGZIP' {
        errorStrategy = 'retry'
    
        cpus= 4
        memory='30GB'
        time='4h'

    }

    withName: 'HAPLOTAG_BAM' {
        errorStrategy = 'retry'
    
        cpus=4
        memory='20 GB'
        time='2h'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/haplotag/${meta.sampleID}/${meta.type}/" },
                pattern: "*{bam,bai}"
            ]
        ]
    }
    
    withName: 'HAPLOTAGPHASE' {
        errorStrategy = 'retry'
    
        cpus=4
        memory='50 GB'
        time='2h'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/haplotagphase/${meta.sampleID}/" },
                pattern: "*{vcf,gz}"
            ]
        ]
    }

    withName: 'SPLIT_HAPLOTYPE' {
        errorStrategy = 'retry'
    
        cpus=4
        memory='20 GB'
        time='2h'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/haplotag_split/${meta.sampleID}/${meta.type}/" },
                pattern: "*{bam}"
            ]
        ]
    }

    withName: 'DMR' {
        errorStrategy = 'retry'
        
        cpus=4
        memory='30 GB'
        time='12h'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/dmr/${meta.sampleID}/${meta.type}/" },
                pattern: "*{log,dmr,segment}"
            ]
        ]
    }

    withName: 'SAMTOOLS_INDEX' {
        errorStrategy = 'retry'
        cpus=4
        memory='30 GB'
        time='2h'

    }
}
