process {
    withName: 'MODKIT' {
        cpus= 12
        memory='50 GB'
        time='48h'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/methylation/modkit/${meta.sampleID}/" },
                pattern: "*{bed, log}"
            ]
        ]
    }

    withName: 'GET_POSITIONS' {
        memory='20 GB'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/methylation/get_positions/${meta.sampleID}/" },
                pattern: "*{_meth}"
            ]
        ]
    }
    
    withName: 'READ_BED' {
        memory='16 GB'
        time='1h'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/methylation/read_bed/${meta.sampleID}/" },
                pattern: "*{RDS}"
            ]
        ]
    }

    withName: 'METH_PILEUP' {
        memory='100 GB'
        cpus=12
        time='24h'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/methylation/pileup/${meta.sampleID}/${meta.type}/" },
                pattern: "*{vcf}"
            ]
        ]
    }

    withName: 'COMBINE' {
        memory='50 GB'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/methylation/combine/${meta.sampleID}/" },
                pattern: "*{RDS}"
            ]
        ]
    }


}
