process {
    withName: 'HAPLOTAG_BAM' {
        cpus= 4
        memory='50 GB'
        time='12h'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/methylation_haplotype/split/${meta.sampleID}/" },
                pattern: "*{bam, bai}"
            ]
        ]
    }

    withName: 'SPLIT_HAPLOTYPE' {
        cpus= 4
        memory='50 GB'
        time='12h'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/methylation_haplotype/haplotag/${meta.sampleID}/" },
                pattern: "*{bam}"
            ]
        ]
    }

    withName: 'DMR' {
        cpus= 4
        memory='50 GB'
        time='12h'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/methylation_haplotype/dmr/${meta.sampleID}/" },
                pattern: "*{log, dmr, segment}"
            ]
        ]
    }

    withName: 'SAMTOOLS_INDEX' {
        cpus= 4
        memory='50 GB'
        time='12h'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/methylation_haplotype/haplotag/${meta.sampleID}/" },
                pattern: "*{bam, bai}"
            ]
        ]
    }
}