process {
    withName: 'HAPLOTAG_BAM' {
        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'ignore' }
    
        cpus=4
        memory='20 GB'
        time='2h'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/methylation_haplotype/split/${meta.sampleID}/" },
                pattern: "*{bam,bai}"
            ]
        ]
    }

    withName: 'SPLIT_HAPLOTYPE' {
        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'ignore' }
    
        cpus=4
        memory='20 GB'
        time='2h'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/methylation_haplotype/haplotag/${meta.sampleID}/" },
                pattern: "*{bam}"
            ]
        ]
    }

    withName: 'DMR' {
        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'ignore' }
        
        cpus=4
        memory='30 GB'
        time='12h'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/methylation_haplotype/dmr/${meta.sampleID}/" },
                pattern: "*{log,dmr,segment}"
            ]
        ]
    }

    withName: 'SAMTOOLS_INDEX' {
        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'ignore' }
        
        cpus=4
        memory='30 GB'
        time='2h'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/methylation_haplotype/haplotag/${meta.sampleID}/" },
                pattern: "*{bam,bai}"
            ]
        ]
    }
}
