process {
    withName: 'LONGPHASE' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/longphase/${meta.sampleID}/${meta.type}/" },
                pattern: "*{vcf}"
            ]
        ]
    }



    withName: 'MODCALL' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/modcall/${meta.sampleID}/${meta.type}/" },
                pattern: "*{vcf}"
            ]
        ]
    }


    withName: 'SHAPEIT4' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/shapeit4/${meta.sampleID}/" },
                pattern: "*{vcf}"
            ]
        ]
    }

}
