process {
    withName: 'PILEUP_CN' {
        memory='50 GB'
        time='12h'
        cpus= 12

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/pileup/pileup_cn/${meta.sampleID}/${meta.type}/" },
                pattern: "*{vcf}"
            ]
        ]
    }

    withName: 'WHATSHAP' {
        memory='100 GB'
        time='12h'
        cpus=12

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/pileup/whatshap/${meta.sampleID}/${meta.type}/" },
                pattern: "*{vcf}"
            ]
        ]
    }

    withName: 'READ_PHASING' {
        memory='30 GB'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/pileup/read_phasing/${meta.sampleID}/" },
                pattern: "*{RDS}"
            ]
        ]
    }

}