process {
    withName: 'SPLIT_BAM' {
        memory='200 GB'
        time='10h'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/pileup/split_bam/" },
                pattern: "*{bam, bai}"
            ]
        ]
    }

    withName: 'PILEUP_CN' {
        memory='200 GB'
        time='12h'
        cpus= 12

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/pileup/pileup_cn/" },
                pattern: "*{vcf}"
            ]
        ]
    }

    withName: 'WHATSHAP' {
        memory='200 GB'
        time='12h'
        cpus=12

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/pileup/whatshap/" },
                pattern: "*{vcf}"
            ]
        ]
    }

    withName: 'READ_PHASING' {
        memory='30 GB'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/pileup/read_phasing/" },
                pattern: "*{RDS}"
            ]
        ]
    }

}