process {
    withName: 'LONGPHASE' {
        errorStrategy = 'retry'
        
        memory='20 GB'
        time='2h'
        cpus=6

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/longphase/${meta.sampleID}/${meta.type}/" },
                pattern: "*{vcf}"
            ]
        ]
    }


    withName: 'BCFTOOLS_INDEX' {
        errorStrategy = 'retry'
        
        memory='20 GB'
        time='2h'
        cpus=2

        //publishDir = [
        //    [
        //        mode: 'copy',
        //        path: { "${params.outdir}/longphase/${meta.sampleID}/${meta.type}/" },
        //        pattern: "*{vcf,gz,csi}"
        //    ]
        //]
    }

    withName: 'MODCALL' {
        errorStrategy = 'retry'
        
        memory='20 GB'
        time='2h'
        cpus=4

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/modcall/${meta.sampleID}/${meta.type}/" },
                pattern: "*{vcf}"
            ]
        ]
    }


    withName: 'SHAPEIT4' {
        errorStrategy = 'retry'
        
        memory='50 GB'
        time='2h'
        cpus=6

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/shapeit4/${meta.sampleID}/" },
                pattern: "*{vcf}"
            ]
        ]
    }

}
