process {
    withName: 'SPLIT_BAM' {
        cpus=12
        memory='50 GB'
        time='10h'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/split_bam/${meta.sampleID}/${meta.type}/" },
                pattern: "*{bam,bai}"
            ]
        ]
    }
}