process {
    withName: 'SPLIT_ALIGN' {
        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'ignore' }
    
        cpus=8
        memory='30 GB'
        time='5h'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/split_align/${meta.sampleID}/${meta.type}/" },
                pattern: "*{bam,bai,cram,crai}"
            ]
        ]
    }
}