process {
    withName: 'CLAIR3' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_calling/clair3/${meta.sampleID}/" },
                pattern: "*{gz,vcf,tbi,log}"
            ]
        ]
    }

    withName: 'CLAIRS' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_calling/clairS/${meta.sampleID}/" },
                pattern: "*{vcf.gz,vcf,tbi}"
            ]
        ]
    }
}
