process {
    withName: 'CLAIRS' {
        cpus=1
        memory='200 GB'
        time='48h'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/variant_calling/clairS/" },
                pattern: "*{vcf}"
            ]
        ]
    }


    withName: 'READ_SOMATIC' {
        memory='16 GB'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/variant_calling/read_somatic/" },
                pattern: "*{RDS}"
            ]
        ]
    }
}