process {
    withName: 'CLAIRS' {
        cpus=36
        memory='100 GB'
        time='48h'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/variant_calling/clairS/${meta.sampleID}/" },
                pattern: "*{vcf.gz,vcf,tbi}"
            ]
        ]
    }


    withName: 'READ_SOMATIC' {
        memory='16 GB'

        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/variant_calling/read_somatic/${meta.sampleID}/" },
                pattern: "*{RDS}"
            ]
        ]
    }
}
